.allergens {
  .allergens-title {
    margin: 15px 0;
    cursor: pointer;
    display: flex;
    .title-icon {
      position: relative;
      border-radius: 50%;
      display: inline-block;
      margin-right: 15px;
      background-color: #bbb;
      width: 20px;
      height: 20px;
      transition: all .75s;
      .icon-el-vertical {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 2px;
        height: 50%;
        background-color: #fff;
        opacity: 1;
        transition: all .75s;
      }
      .icon-el-blur {
        opacity: 0;
      }
      .icon-el-horizontal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 50%;
        height: 2px;
        background-color: #fff;
      }
    }
    .icon-animate {
      transform: rotate(360deg);
    }
    p {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  .allergens-panel {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    line-height: 150%;
    div {
      width: 45%;
      h4 {
        font-weight: 400;
        text-transform: uppercase;
      }
      p {
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 300;
      }
    }
  }
}