@import '../../mixins';
.capsule-details-frame {
  width: 100%;
  background-color: #eee;
  .capsule-details {
    width: 100%;
    padding: 30px 0;
    .details-inner {
      max-width: 1200px;
      margin: 0 auto;
      .close-details {
        text-align: right;
        padding: 0 50px;
        span {
          display: inline-block;
          transform: rotate(45deg);
          color: #666;
          font-size: 36px;
          cursor: pointer;
        }
      }
      .details-info {
        display: flex;
        .details-graphic {
          position: relative;
          width: 10%;
          img {
            width: 85px;
            margin-top: 15px;
            position: relative;
            z-index: 1;
          }
          .decaf-circle {
            position: absolute;
            right: 20%;
            top: 0;
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: red;
          }
        }
        .details-data {
          width: 50%;
          padding-top: 15px;
          .capsule-title {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1px;
          }
          .capsule-subtitle {
            font-size: 14px;
            margin: 5px 0 15px 0;
            letter-spacing: 1px;
          }
          .capsule-desc {
            font-size: 14px;
          }
          .capsule-info {
            margin-top: 20px;
            .capsule-info-point {
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              font-size: 12px;
              .info-label {
                font-weight: 600;
                letter-spacing: 1px;
                width: 50%;
              }
              .cup-intensity {
                display: flex;
                align-items: center;
                .intensity-graphic {
                  margin-left: 6px;
                  .int-square {
                    display: inline-block;
                    width: 3px;
                    height: 3px;
                    margin-right: 1px;
                    background-color: #fff;
                  }
                  .active-square {
                    background-color: #111;
                  }
                }
              }
            }
            .info-comparable {
              list-style: none;
              display: flex;
              align-items: flex-start;
              padding: 15px;
              .similar-capsule {
                position: relative;
                margin: 0 5px;
                .similar-capsule-inner {
                  padding: 10px;
                  text-align: center;
                  width: 80px;
                  img {
                    width: 40px;
                  }
                  .cup-name {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
        .details-basic {
          width: 100%;
          padding: 0 40px;
        }
        .details-buy {
          width: 40%;
          padding-left: 6%;
          .details-price {
            margin: 30px 0;
            color: #357e00;
            .cup-price {
              font-size: 16px;
              letter-spacing: 1px;
              font-weight: 600;
            }
          }
          .details-cup-buy {
            button {
              @include addToBasket_long;
            }
          }
        }
      }
    }
  }
}
