@import 'variables.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.container {
  padding: 150px 0 20vh 0;
  min-height: 100vh;
  .view-desktop {
    display: none;
    @media#{$desktop} {
      display: block;
    }
  }
  .view-mobile {
    @media#{$desktop} {
      display: none;
    }
  }
}
.grey-bgc {
  background-color: #eee;
}