@import 'variables';
.bar {
  position: fixed;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 15px 0;
  background-color: #000;
  z-index: 10;
  .bar-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 100%;
    }
    .footer-menu {
      list-style: none;
      width: 75%;
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      li {
        margin-left: 5%;
        a {
          color: #af7c40;
          font-size: 12px;
          text-decoration: none;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
.top-bar {
  top: 0;
}
.bottom-bar {
  bottom: 0;
}
.application-steps {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 75px;
  width: 100%;
  height: 135px;
  background-color: #f2f2f2;
  z-index: 9;
  .steps-container {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    .steps {
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .single-step {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        width: 190px;
        text-align: center;
        margin: 0 5px;
        position: relative;
        .step-circle {
          border-radius: 50%;
          border: 1px solid #e6e6e6;
          width: 21px;
          height: 21px;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            display: inline-block;
            width: 11px;
            height: 11px;
            background-color: #e6e6e6;
            border-radius: 50%;
          }
        }
        .step-name {
          text-transform: uppercase;
          font-size: 9px;
          color: #aaa;
          margin-top: 10px;
        }
        .step-line {
          display: none;
          @media #{$tab768} {
            position: absolute;
            left: -55px;
            top: 20px;
            display: inline-block;
            width: 100px;
            height: 1px;
            background-color: #e6e6e6;
          }
        }
      }
      .step-active {
        .step-circle {
          border: 1px solid #af7c40;
          span {
            background-color: #af7c40;
          }
        }
        .step-name {
          color: #000;
        }
        .step-line {
          background-color: #af7c40;
        }
      }
    }
  }
}
.active-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  .shop-action-bar {
    height: 58px;
    background-color: #fff;
    box-shadow: 0 -2px 10px #ddd;
    .action-bar-wrapper {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      max-width: 960px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      position: relative;
      font-size: 14px;
      font-weight: 500;
      .action-bar-back {
        color: #af7c40;
        font-size: 15px;
      }
      .action-bar-amount {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .action-bar-min {
        color: red;
        font-size: 11px;
      }
      .action-bar-next {
        height: 38px;
        padding: 0 25px;
        line-height: 38px;
        background-color: #af7c40;
        color: #fff;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        border: 1px solid #af7c40;
        outline: none;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          background-color: transparent;
          color: #af7c40;
        }
      }
    }
  }
}