@mixin btnPlus {
  span {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
  }
  .bar-vertical {
    width: 50%;
    height: 3px;
  }
  .bar-horizontal {
    width: 3px;
    height: 50%;
  }
}