.page-start {
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    display: inline-block;
    padding: 12px 60px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid #fff;
    color: #fff;
  }
}