.page-start {
  background-color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 400px;
    margin-bottom: 30px;
  }
  span {
    display: inline-block;
    text-align: center;
    padding: 16px 60px;
    width: 380px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    border: 1px solid #fff;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}