.shopping-cart {
  width: 100%;
  padding: 5px 20px;
  max-width: 960px;
  margin: 30px auto 0 auto;
  .basket-entry {
    h5 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
  .basket-full {
    font-weight: 500;
    .basket {
      width: 100%;
      list-style: none;
      li {
        height: 50px;
        padding: 10px 0;
        border-bottom: 1px solid #d1d1d1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        div {
          display: flex;
          align-items: center;
          height: 100%;
        }
        .cart-item-name {
          width: 50%;
          .action-trash {
            height: 40%;
            margin-right: 20px;
            cursor: pointer;
          }
          .capsule-icon {
            height: 75%;
          }
          span {
            display: inline-block;
            margin: 0 10px;
          }
        }
        .cart-item-info {
          width: 48%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          span {
            display: inline-block;
            min-width: 100px;
            text-align: right;
          }
          .cart-item-amount {
            text-align: center;
          }
        }
      }
    }
    .basket-sum {
      padding-top: 25px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span {
        color: #357e00;
      }
      .cart-sum {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
  .basket-empty {
    font-size: 12px;
  }
}